.productCard {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.productCard p {
  font-weight: 500;
}

.productImg {
  height: 300px;
}

.itemFooter {
  background-color: #0b2742;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

h3 {
  font-size: 1.5rem;
}
