.navBar ul {
  list-style-type: none;
  display: flex;
  margin: 1rem;
}
.navBar ul li {
  margin: 10px;
}

nav {
  height: 15vh;
  width: 100vw;
  display: flex;
  background-color: #0b2742;
  align-items: center;
  justify-content: space-between;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin: 10px;
}

.logo {
  display: flex;
  flex-direction: column;
  margin: 30px;
  align-items: center;
}
.logo img {
  width: 50px;
}
.logo h4 {
  color: white;
}
