.controlesCounter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter button {
  background-color: #0b2742;
  margin: 10px;
}
.counter div {
  display: flex;
  justify-content: center;
  align-content: center;
}
